.social-page h1 {
    margin-left: auto;
	margin-right: auto;
    text-align: center;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.social-page .home-link {
    text-decoration: none;
}


/* 친구 피드 */
.social-page .socials-box {
    display: inline-block;
    width: 390px;
    height: 647.5px;
    overflow-x: auto;
    white-space: nowrap;
}

/* 피드 한 개*/
.social-page .social-link {
    text-decoration: none;
}

.social-page .social-box {
    width: 370px;
    height: 560px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.social-page .profile-date-box {
	color: white;
	height: 55px;
	width: 330px;
    font-size: 19px;
    font-weight: normal;
    margin-top: 5px;
    margin-left: 18px;
    text-decoration: none;
}

.social-page .social-profile-img {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    overflow: hidden;
    float: left;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 5px;
}

.social-page .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.social-page .social-id {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: -3px;
    margin-left: 60px;
}

.social-page .social-date {
    color: white;
    font-weight: normal;
    font-size: 15px;
    width: 295px;
    margin-left: 60px;
    margin-top: 3px;
}



/* 썸네일 이미지 */
.social-page .social-img {
    width: 370px;
    height: 490px;
}

.social-page .cover-img {
    width: 325px;
    height: 476px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 5px;
    z-index: 1;
}