/* 상단 헤더 */
.social-comment-page .header-box {
    position: relative;
    text-align: center;
}

.social-comment-page h1 {
    margin-left: auto;
	margin-right: auto;
    text-align: center;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.social-comment-page .left-button {
	position: absolute;
    color: white;
	height: 30px;
    width: 60px;
    font-size: 25px;
	margin-top: 7px;
	margin-left: -195px;
	z-index: 2;
}

.social-comment-page .home-link {
    text-decoration: none;
}

/* 프로필 */
.social-comment-page .profile-date-box {
	color: white;
	height: 55px;
	width: 330px;
    font-size: 19px;
    font-weight: normal;
    margin-top: 5px;
    margin-left: 18px;
}

.social-comment-page .social-profile-img {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    overflow: hidden;
    float: left;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 5px;
}

.social-comment-page .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.social-comment-page .social-id {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: -3px;
    margin-left: 60px;
}

.social-comment-page .social-date {
    color: white;
    font-weight: normal;
    font-size: 15px;
    width: 295px;
    margin-left: 60px;
    margin-top: 3px;
}

/* 댓글 + 좋아요 창 */
.social-comment-page .comments-like-box {
    display: inline-block;
    border: 1px solid white;
    border-radius: 15px 15px 0px 0px;
    width: 390px;
    height: 611px;
    margin-top: 5px;
    margin-bottom: -17px;
    border-bottom: none;
    z-index: 1;
}

/* 좋아요 목록 */
.social-comment-page .likelist-box {
    width: 370px;
    height: 50px;
    margin-left: 10px;
    margin-top: 15px;
}

.social-comment-page .likelist-box .like-link {
    text-decoration: none;
}

.social-comment-page .heart-icon {
    float: left;
    font-size: 35px;
    color: #ec633f;
    margin-top: 7.5px;
    margin-left: 5px;
}

.social-comment-page .like-id {
    width: 320px;
    height: 48px;
    margin-left: 50px;
}

.social-comment-page .like-id p {
    color: white;
    margin-top: 2px;
    padding-top: 6px;
}

/* 댓글 */
.social-comment-page .comments-box {
    display: inline-block;
    width: 380px;
    height: 450px;
    margin-left: 5px;
    overflow-x: auto;
    white-space: nowrap;
}

.social-comment-page .comment-box {
    width: 370px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    white-space: pre-wrap;
}

.social-comment-page .comment-img {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    overflow: hidden;
    float: left;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 7px;
}

.social-comment-page .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.social-comment-page .comment-id {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: -3px;
    margin-left: 60px;
}

.social-comment-page .comment-value {
    color: white;
    font-weight: normal;
    font-size: 15px;
    width: 295px;
    margin-left: 60px;
    margin-top: 5px;
}

/* 댓글 작성하기 */
.social-comment-page .add-comment-box {
    width: 350px;
    height: 50px;
    margin-left: 20px;
    margin-top: 18px;
}

.social-comment-page .comment-textarea {
    position: absolute;
    float: left;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px 0px 0px 10px;
    height: 30px;
    width: 245px;
    z-index: 2;
    font-size: 15px;
    padding-top: 13px;
    padding-left: 10px;
    margin-left: 15px;
}

/* 댓글 post */
.social-comment-page .post-comment {
    position: absolute;
    float: left;
    text-align: center;
    color: black;
    background-color: white;
    border: 2px solid white;
    border-radius: 0px 10px 10px 0px;
    width: 60px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    line-height: 45px;
    margin-left: 272px;
    cursor: pointer;
    z-index: 1;
}