/* 상단 헤더 */
.search-friends-page .header-box {
    position: relative;
    text-align: center;
}

.search-friends-page h1 {
    margin-left: auto;
	margin-right: auto;
    text-align: center;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-friends-page .left-button {
	position: absolute;
    color: white;
	height: 30px;
    width: 60px;
    font-size: 25px;
	margin-top: 7px;
	margin-left: -195px;
	z-index: 2;
}

.search-friends-page .manage-friends-link {
    text-decoration: none;
}


/* search box */
.search-friends-page .search-friends-box {
    width: 330px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid white;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
}

.search-friends-page .search-icon {
    width: 40px;
    height: 40px;
    border-radius: 13px 0px 0px 13px;
    margin-top: 0px;
    color: black;
    font-size: 30px;
    line-height: 50px;
    background-color: white;
    cursor: pointer;
}

.search-friends-page .search-friends {
    float: left;
    color: white;
    background-color: black;
    border: none;
    font-size: 17px;
    font-weight: bold;
    height: 38px;
    width: 269px;
    line-height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 15px 15px 0px;
    margin-top: -40px;
    margin-left: 40px;
}


/* searching my friends */
.searching-my-friends-box {
    width: 330px;
    height: 280px;
    margin-left: 30px;
    text-align: center;
    margin-top: -20px;
}

.searching-my-friends-header {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: gray;
}

.searching-friends-box {
    display: inline-block;
    width: 320px;
    height: 220px;
    margin-left: 5px;
    overflow-x: auto;
    white-space: nowrap;
}

.search-friends-page .friend-img {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    overflow: hidden;
    float: left;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 5px;
}

.search-friends-page .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.search-friends-page .friend-id {
    float: left;
    height: 50px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 19.5px;
}

.search-friends-page .delete-button {
    color: gray;
    font-size: 30px;
    line-height: 50px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.search-friends-page .searching-no-friend {
    color: gray;
    font-size: 18px;
    line-height: 100px;
}



/* searching more result */
.searching-more-results-box {
    width: 330px;
    height: 280px;
    margin-left: 30px;
    text-align: center;
}

.searching-more-results-header {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: gray;
}

.searching-results-box {
    display: inline-block;
    width: 320px;
    height: 220px;
    margin-left: 5px;
    overflow-x: auto;
    white-space: nowrap;
}

.search-friends-page .searching-no-result {
    color: gray;
    font-size: 18px;
    line-height: 100px;
}

.searching-result-box {
    width: 300px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    white-space: pre-wrap;
}

.search-friends-page .result-img {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    overflow: hidden;
    float: left;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 5px;
}
s
.search-friends-page .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.search-friends-page .result-id {
    float: left;
    height: 50px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 19.5px;
}

.search-friends-page .follow-button {
    color: white;
    font-size: 30px;
    line-height: 50px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.search-friends-page .request-sent {
    color: white;
    font-size: 17px;
    line-height: 50px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}