/* 상단 버튼, 날짜 */
.record-page .date-box {
	position: relative;
	height: 80px;
	align-items: center;
    justify-content: center;
}

.record-page .down-button {
	position: relative;
    color: white;
	height: 30px;
    width: 60px;
    font-size: 25px;
	margin-top: 28px;
	margin-left: 5px;
	z-index: 2;
}

.record-page .date-box h2 {
	position: relative;
	color: white;
	height: 30px;
	width: 390px;
    font-size: 25px;
	margin-top: -35px;
    font-weight: normal;
	text-align: center;
	z-index: 1;
}

/* 카메라 화면 */
.camera-box {
	position: relative;
	width: 351px;
	height: 522px;
	margin-left: 19px;
}


.camera-navigator {
	height: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 갤러리 버튼 */
.gallery {
	position: relative;
	float: left;
	color: white;
    height: 50px;
    width: 50px;
    font-size: 60px;
    margin-top: 35px;
    margin-left: 50px;
}

/* 카메라 버튼 */
.record-page .camera-button {
	position: relative;
	float: left;
	background-color: white;
	height: 70px;
    width: 70px;
	border-radius: 50px;
	border: none;
    margin-top: 30px;
    margin-left: 60px;
}

.recording-start-button {
	position: relative;
	float: left;
	background-color: red;
	height: 30px;
    width: 30px;
	border-radius: 50px;
	border: none;
	margin-top: 20px;
	margin-left: 20px;
}

.recording-stop-button {
	position: relative;
	float: left;
	background-color: red;
	height: 30px;
    width: 30px;
	border: none;
	margin-top: 20px;
	margin-left: 20px;
}


/* 전면, 후면 전환 버튼 */
.switch {
	position: relative;
	float: left;
	color: white;
    height: 50px;
    width: 50px;
    font-size: 50px;
    margin-top: 42px;
    margin-left: 55px;
}


/* UPLOAD 버튼 */
.upload-button {
	float: left;
    margin-top: -70px;
	margin-left: 120px;
	width: 150px;
	height: 60px;
	text-align: center;
}

.upload-link {
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none; /* 밑줄 제거 */
}